<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="df6b762e-afc3-41a0-8ab4-c86016072e51" Version="1.0.1.0" Publisher="CN=test" />
  <Properties>
    <DisplayName>BRAPP</DisplayName>
    <PublisherDisplayName>BRAPP</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="BRAPP" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="BRAPP" ForegroundText="light" BackgroundColor="#5cc9e7">
        <DefaultTile ShowName="allLogos" WideLogo="images\widelogo.png" ShortName="BR@PP" />
 
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#5cc9e7" />


      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
        <Extension Category="windows.cameraSettings" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="picturesLibrary" />
    <Capability Name="musicLibrary" />
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
</Package>